@charset "UTF-8";

body{
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif; 
}

.principal{
    padding: 0 2rem;
    margin: 2em auto;
    min-width: 300px;
    max-width: 900px;
    text-align: justify; 
}

/*div header*/
header {
    max-width: 900px;
    margin:0 auto 2rem;
    text-align: center;
    text-decoration: none;
}

header .foto {
    max-width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 15px rgb(54, 54, 54);
}

header nav {
    margin: 0 auto;
    width: 40%;
    display:flex;
    justify-content: space-around;
}

header h1 {
    margin-top: 0.625em;
    margin-bottom: 0.125em;
    text-transform: uppercase;
    font-size: 2.5em;
}

header h2 {
    margin-top: 2px;
    text-transform: capitalize;
}

header a {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    text-align: left;
}

/*Logos das linguagens de desenvolvimento*/
.linguagens{
    justify-content: space-around;
    text-align: center;
    margin: 2px auto;
}

.linguagens img{
    margin: 10px auto;
}

ul{
    list-style-type: none;
    margin: 0;
}

ul > li {
    text-align: left;
}

/* lista de experiencias profissionais*/
ul.exp-pro{
    padding-left:0px;
    margin-bottom: 3rem;
}

.exp-pro h4, .exp-pro h5{
    margin-bottom: 0.5rem;
}

.ep{
    background-color: #e6e6e646;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 10px 15px gray;
    margin-bottom: 20px;
    list-style-type: none;
}

li > h4{
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;

    /*margem e padding*/
    margin: 0 auto;
}

li > h5{
    text-transform: capitalize;
    font-weight: 400;
    font-size:1em;
    text-align: justify;

    /*margem e padding*/
    margin: 0 auto;
}


li > p{ /*Descrição das experiências*/
    /* texto */
    font-weight: 300;
    text-align: justify;
    
    /*margem e padding*/
    margin: 0.3125em auto 0;
}

/*Rodapé*/
footer {
    /*texto*/
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    color: #ebebeb;
    margin-top: 1.875em;
    padding: 2em;
    background-color: grey;
    border-radius: 0.3em;
}

.footer a{
    display: inline-block;
    margin: 0 0.75rem;
}

footer address{
    margin: 0 auto 0.8em;
    letter-spacing: 0.125em;
}

footer a {
    color: #ebebeb;
    font-style: italic;
    text-decoration: none;
}

footer a:hover{
    color: snow;
    text-decoration: none;  
}
